@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.queueButton {
    font-size: 10px;
    background-color: #cf7e04; /* orange */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.listOfSongs {
    max-width: 100%;
    display: block;
    /*margin-bottom: 10%;*/
}

.listOfSongs td, th {
border-bottom: 1px solid #ddd;
padding: 8px;
}

.listOfSongs tr:nth-child(even) {
background-color: rgb(24, 22, 22);
}

.listOfSongs tr:nth-child(odd) {
    background-color: rgb(61, 54, 54);
    }

.listOfSongs p {
margin: 0px;
font-size: 15px;
color: white;
}

.listOfSongs table {
    width: 100%;
}

.spotifyControllerHeader {
    display: flex;
    justify-content: space-evenly;
}


.wideCell {
    width: 85%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}